--extra-index-url https://download.pytorch.org/whl/cpu

aiofiles==24.1.0
beautifulsoup4==4.13.4
chromadb==1.0.20
fastapi==0.116.1
langchain==0.3.27
langchain-core==0.3.74
langchain-chroma==0.2.5
langchain-huggingface==0.3.1
langchain-groq==0.3.7
numpy==1.26.4
pydantic==2.11.7
PyPDF2==3.0.1
python-dotenv==1.1.1
python-multipart==0.0.9
requests==2.32.4
torch==2.2.0+cpu
transformers==4.40.0
sentence-transformers==2.7.0
streamlit==1.48.0
streamlit_push_notifications==0.1
validators==0.35.0
uvicorn==0.35.0